* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    background-color: #983895;
}

header {
    padding:30px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#983895;
    color:#A7F994;
}

header h1 {
    display: inline-block;
    font-size: 50px;
}

header nav {
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-flex;
    margin-left: 30px;
}

h2, h3, h4, h5 {
font-size: 25px;
}

a{
    color:#A7F994;
    text-decoration: none;
}

.banner {
    height:300px;
    width: 100%;
    margin-bottom:30px;
    background-image: url("../images/banner.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
}


.float-left {
    float: left;
    margin-right: 10px;
}

.float-right {
    float: right;
    margin-right: 20px;
}

.float-center {
    float:center;
    margin:5px;
}

.content {
    width:75%;
    display: inline-block;
    margin-left:20px;
    color:#A7F994
}

p{
    font-size: 15px;
}

#About-Me {
    margin-bottom:60px;
    padding:40px;
    height: 250px;
    width:1800px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A7F994;
    color:#983895;
}

.section {
 margin: 30px;
 width: 100%;
 background-color:#A7F994;
 color:#983895
}

main {
    display: inline-flex;
}

main section div p{
    font-size: 35px;
}

main section {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    margin: 30px;
    width: 50%;
    background-color:#A7F994;
    color:#983895
   }

.work {
    display: inline-flexbox;
    flex-wrap: wrap;
}

.resume {
    display:inline-flexbox;
    flex-wrap: wrap;
}

footer {
    padding:30px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#983895;
    color:#A7F994;
    text-align: center;
    border-style: solid;
    width: 1850px;
}  
